[submodule "dotnet-projectmanagement-api-gateway"]
	path = dotnet-projectmanagement-api-gateway
	url = https://github.com/afroze9/dotnet-projectmanagement-api-gateway.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/afroze9/dotnet-projectmanagement-api-gateway.git
[submodule "discovery-server"]
	path = discovery-server
	url = https://github.com/afroze9/dotnet-projectmanagement-discovery-server.git
[submodule "company-api"]
	path = company-api
	url = https://github.com/afroze9/dotnet-projectmanagement-company-api.git
[submodule "project-api"]
	path = project-api
	url = https://github.com/afroze9/dotnet-projectmanagement-project-api.git
[submodule "frontend-app"]
	path = frontend-app
	url = https://github.com/afroze9/dotnet-projectmanagement-frontend-app.git
[submodule "health-checks-dashboard"]
	path = health-checks-dashboard
	url = https://github.com/afroze9/dotnent-health-checks-dashboard.git
